.boxes{
	width: 70px;
	height: 70px;
}

#board{
	width: 260px;
	height: 260px;
}

#overlay {
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 0;
	text-align: center;
	/*
	background-color: rgb(0,0,0);
	overflow-x: hidden;*/
}